<div class="relative px-6 py-20 sm:px-12 sm:py-28 lg:px-16 bg-cyan-200 dark:bg-cyan-950 transition-all duration-300">
    <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
        <p class="text-6xl lg:text-7xl mb-10">⚡</p>
        <div class="text-3xl font-bold tracking-tight text-red-600 sm:text-4xl">Не&nbsp;всякая красная нить является
            настоящей и&nbsp;обладает защитными свойствами
        </div>
        <p class="mt-3 text-xl text-gray-700 dark:text-gray-300">99% нитей, привезенных из&nbsp;Израиля&nbsp;&mdash; это
            просто кусочек нити побывавшей в&nbsp;Израиле&nbsp;😕</p>
    </div>
</div>