<div class="relative bg-gray-100 dark:bg-gray-900 transition-all duration-300">
  <div
    class="mx-auto max-w-7xl lg:flex lg:justify-between lg:px-8 xl:justify-end"
  >
    <div
      class="hidden lg:flex lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2"
    >
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <img
          class="absolute inset-0 h-full w-full bg-gray-50 object-cover"
          src="img/grob.jpg"
          alt="Гробница Рахель"
        />
      </div>
    </div>
    <div class="px-6 lg:contents">
      <div
        class="relative isolate mx-auto max-w-2xl pb-16 pt-16 sm:pb-32 sm:pt-20 lg:ml-8 lg:mr-0 lg:w-full lg:max-w-lg lg:flex-none lg:pt-32 xl:w-1/2"
      >
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu blur-3xl overflow-hidden sm:-top-0"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 dark:opacity-20 sm:left-[calc(50%-1rem)] sm:w-[40.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
          >
          </div>
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/2678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 dark:opacity-20 sm:left-[calc(50%-1rem)] sm:w-[40.1875rem]"
            style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"
          >
          </div>
        </div>
        <h2
          class="mt-2 text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-4xl"
        >
          Привозим только <br />
          настоящие нити
        </h2>
        <p class="mt-6 text-xl leading-8 text-gray-700 dark:text-gray-400">
          Регулярно освящаем и&nbsp;привозим нити в&nbsp;сувенирный магазин,
          расположенный на&nbsp;туристическом маршруте &laquo;Малый
          Иерусалим&raquo; в&nbsp;Евпатории.
        </p>
        <div
          class="mt-10 max-w-xl text-base leading-7 text-gray-700 dark:text-gray-400 lg:max-w-none"
        >
          <p>
            Ежегодно тысячи людей приходят к&nbsp;нам на&nbsp;экскурсии,
            приобретают сувениры привезенные со&nbsp;всего Израиля. Кто
            то&nbsp;специально едет к&nbsp;нам за&nbsp;красной нитью, кто
            то&nbsp;оставить записку в&nbsp;нашей малой &laquo;стене
            плача&raquo;, которые мы&nbsp;ежегодно отвозим в&nbsp;Иерусалим
            к&nbsp;стене плача.
          </p>
          <div class="mt-10 border-l border-red-600 pl-9">
            <blockquote class="font-semibold text-gray-900 dark:text-gray-300">
              <p>
                “Можете верить и&nbsp;будете правы... Можете не&nbsp;верить
                и&nbsp;тоже будете правы...”
              </p>
              <p>
                Мы&nbsp;же делаем ВСЁ, для того, чтобы нити были настоящими!
              </p>
            </blockquote>
          </div>
          <p class="mt-10">
            Освящается красная нить в&nbsp;Иерусалиме на&nbsp;гробнице Рахели.
            Это место обладает необычайно сильной энергией и&nbsp;является
            святым для мусульман, христиан и&nbsp;иудеев. Из&nbsp;100% шерсти
            нить красного цвета оборачивают вокруг этого места и&nbsp;читают
            Псалмы (псалтырь). После разрезают на&nbsp;кусочки и&nbsp;далее уже
            повязывают на&nbsp;руку соблюдая некие правила...
          </p>

          <p class="mt-6">
            Только такая нить является <span class="text-red-600 font-medium"
              >НАСТОЯЩЕЙ</span
            >
            красной нитью из&nbsp;Иерусалима.
          </p>
          <a
            href="#order"
            class="mt-8 text-white font-medium rounded-lg text-base px-6 py-3.5 text-center inline-flex items-center bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 shadow-lg shadow-red-500/50 dark:shadow-lg dark:shadow-red-800/80"
          >
            Заказать ✨
          </a>
        </div>
      </div>
    </div>
    <div
      class="lg:hidden lg:w-1/2 lg:shrink lg:grow-0 xl:absolute xl:inset-y-0 xl:right-1/2 xl:w-1/2"
    >
      <div class="relative h-80 lg:-ml-8 lg:h-auto lg:w-full lg:grow xl:ml-0">
        <img
          class="absolute inset-0 h-full w-full bg-gray-50 object-cover"
          src="img/grob.jpg"
          alt="Гробница Рахель"
        />
      </div>
    </div>
  </div>
</div>
