<div class="divide-y divide-cyan-300 dark:divide-cyan-900">

<div class="relative px-6 py-20 sm:px-12 sm:py-20 lg:px-16 bg-cyan-200 dark:bg-cyan-950 transition-all duration-300">
    <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
        <p class="text-6xl lg:text-7xl mb-10">🎁</p>
        <h2 class="text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-4xl">Доставка</h2>
        <p class="mt-5 text-xl text-gray-700 dark:text-gray-300">Отправляем почтой России или любым удобным вам
            способом.</p>
        <p class="mt-3 text-xl text-gray-700 dark:text-gray-300">Оплата после отправки или при получении.</p>
    </div>
</div>

<div class="relative px-6 py-20 sm:px-12 sm:py-20 lg:px-16 bg-cyan-200 dark:bg-cyan-950 transition-all duration-300">
    <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
        <p class="text-6xl lg:text-7xl mb-10">🤝</p>
        <h2 class="text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-4xl">Свяжитесь с
            нами!</h2>
        <p class="mt-5 text-xl text-gray-700 dark:text-gray-300">Отзывы, заказ, вопросы, полная информация:</p>
        <div class="mt-8 flex justify-center space-x-2 sm:space-x-4 lg:space-x-10">
            <a href="#" class="flex flex-col items-center text-gray-400 hover:text-gray-500">
                <span class="sr-only">Instagram</span>
                <img class="h-10 lg:h-16 w-auto"
                 src="img/instagram-logo.svg" alt="Instagram">
                <p class="text-xs lg:text-sm mt-3 text-gray-700 dark:text-gray-300">malierusalim</p>
            </a>
            <a href="https://vk.com/malierusalim" class="flex flex-col items-center text-gray-400 hover:text-gray-500">
                <span class="sr-only">VK</span>
                <img class="h-10 lg:h-16 w-auto"
                 src="img/vk.svg" alt="VK">
                <p class="text-xs lg:text-sm mt-3 text-gray-700 dark:text-gray-300">malierusalim</p>
            </a>
            <a href="whatsapp://send?phone=79780903444" class="flex flex-col items-center text-gray-400 hover:text-gray-500">
                <span class="sr-only">WhatsApp</span>
                <img class="h-10 lg:h-16 w-auto"
                 src="img/whatsapp.svg" alt="WhatsApp">
                <p class="text-xs lg:text-sm mt-3 text-gray-700 dark:text-gray-300">+7 978 090-3-444</p>
            </a>
            <a href="viber://chat?number=79780903444" class="flex flex-col items-center text-gray-400 hover:text-gray-500">
                <span class="sr-only">Viber</span>
                <img class="h-10 lg:h-16 w-auto"
                 src="img/viber.svg" alt="Viber">
                <p class="text-xs lg:text-sm mt-3 text-gray-700 dark:text-gray-300">+7 978 090-3-444</p>
            </a>
        </div>
    </div>
</div>

</div>

<div class="relative px-6 py-10 sm:px-12 sm:py-10 lg:px-16 bg-white dark:bg-gray-800 shadow-xl transition-all duration-300">
    <div class="relative mx-auto flex max-w-3xl flex-col items-center text-center">
        <a href="/" class="flex items-center justify-between space-x-4">
            ️
            <div class="font-semibold text-lg text-red-700">© 2024</div>
            <img class="h-8 w-auto"
                 src="img/star.svg" alt="Звезда Давида">
            <div class="font-semibold text-lg text-red-700">Красная нить</div>
        </a>
    </div>
</div>
