<div id="instruction" class="relative isolate overflow-hidden px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0 bg-gray-100 dark:bg-gray-900 transition-all duration-300">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu blur-3xl overflow-hidden  sm:-top-0"
         aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 dark:opacity-20 sm:left-[calc(50%-1rem)] sm:w-[40.1875rem]"
             style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-12 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="lg:max-w-lg">
                    <p class="text-base font-semibold leading-7 text-red-600">Инструкция</p>
                    <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-4xl text-balance">Как
                        правильно повязать нить</h2>
                    <p class="mt-6 text-xl leading-8 text-gray-900 dark:text-gray-300">Повязать нить должен близкий
                        человек, тот в&nbsp;искренности которого вы&nbsp;уверены (мама, папа, брат, ребёнок, супруг(а),
                        друг, любимый) на&nbsp;левую руку, туго, но&nbsp;не&nbsp;сдавливать. Семью обычными крепкими
                        узлами подряд. При этом рекомендуется семь раз прочитать молитву &laquo;бен порат&raquo;. Читает
                        тот, кто завязывает, до, после или во&nbsp;время повязывания.</p>
                </div>
            </div>
        </div>
        <div class="-mt-12 pt-12 lg:sticky lg:top-8 lg:right-6 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden">
            <div class="">
                <style>
                    .embed-container {
                        position: relative;
                        padding-bottom: 56.25%;
                        height: 0;
                        overflow: hidden;
                        max-width: 100%;
                    }

                    .embed-container iframe, .embed-container object, .embed-container embed {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                </style>
                <div class="embed-container bg-gray-100 dark:bg-gray-950 rounded-xl shadow-lg border border-1 border-gray-300 dark:border-gray-700">
                    <iframe src="https://www.youtube.com/embed/VKD_0eBIXlM"
                            srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/VKD_0eBIXlM?autoplay=1><img src=https://img.youtube.com/vi/VKD_0eBIXlM/maxresdefault.jpg><span>▶</span></a>"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8">
            <div class="lg:pr-4">
                <div class="max-w-xl space-y-6 text-base leading-7 text-gray-700 dark:text-gray-400 lg:max-w-lg">
                    <p>Тот, кому повязывают нить в&nbsp;это время должен направить свои мысли к&nbsp;добру и&nbsp;к&nbsp;тому,
                        что радует душу и&nbsp;сердце, чаще всего, это его сокровенные желания.</p>
                    <p>Многие загадывают желания и&nbsp;ставят себе цели. В&nbsp;таком случае каждый раз, когда ваш
                        взгляд падёт на&nbsp;нить на&nbsp;вашем запястье, вспоминайте о&nbsp;своём желании и&nbsp;о&nbsp;том,
                        куда вы&nbsp;стремитесь и&nbsp;кем желаете быть.</p>
                    <p>Нить носят всегда. Купаются, спят&nbsp;&mdash; не&nbsp;снимают. Если нужно снять, ничего
                        страшного. Можно снять, но&nbsp;обратно эту нить повязывать не&nbsp;желательно, лучше взять
                        новую. Оставшиеся хвостики по&nbsp;желанию можно отрезать и&nbsp;сжечь. Если в&nbsp;дальнейшем
                        последние узлы будут развязываться, подтяните их&nbsp;или вовсе не&nbsp;трогайте. Ничего
                        страшного в&nbsp;этом нет, главное, что изначально завязали правильно&nbsp;&mdash; с&nbsp;душой
                        и&nbsp;верой.</p>
                    <p>Когда нить порвалась, её&nbsp;можно сжечь, выкинуть, оставить, потерять... Нить своё отработала.
                        Она взяла на&nbsp;себя удар или уже накопила предельное количество негатива предназначенного для
                        вас.</p>
                    <p>Если хотите подарить кому то&nbsp;красную нить, отлично, будьте уверены, оригинальность подарка
                        оценят! Подарок очень таинственный, имеет смысл и&nbsp;силу. Более того, этот подарок будет
                        всегда с&nbsp;тем человеком кому дарите, не&nbsp;заваляется в&nbsp;полке.</p>
                    <p>Единственное условие: тот человек кому дарят нить, должен заплатить любую сумму, хоть в&nbsp;одну
                        копейку, это своего рода энергетический обмен. С&nbsp;членов своей семьи (муж, жена, дети,
                        родители) ничего брать не&nbsp;нужно.</p>
                    <p>Нити красиво упакованы, в&nbsp;каждой есть инструкция и&nbsp;молитва &laquo;бен порат&raquo; на&nbsp;русском,
                        на&nbsp;иврите и&nbsp;на&nbsp;иврите русскими буквами. Если кто то&nbsp;хочет читать другую
                        молитву, например &laquo;Отче наш&raquo;, может читать&nbsp;её. Ношение этого оберега не&nbsp;имеет
                        отношения ни&nbsp;к&nbsp;религии ни&nbsp;к&nbsp;национальности человека и&nbsp;работает для всех
                        одинаково, кто&nbsp;бы вам что ни&nbsp;говорил.</p>
                    <p>Красная нить ни&nbsp;в&nbsp;коем случае не&nbsp;должна подменять веру в&nbsp;Бога, не&nbsp;заменит
                        молитву. Но&nbsp;настоящая, освященная нить, является действительно сильным оберегом!</p>
                </div>
            </div>
        </div>
    </div>
</div>