<div id="video" class="relative px-6 py-20 sm:px-12 sm:py-28 lg:px-16 bg-cyan-200 transition-all duration-300 dark:bg-cyan-950">
    <div class="relative w-full mx-auto flex max-w-6xl flex-col grow items-center text-center">
        <h3 class="text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-300 sm:text-4xl">
            Освящение нити
        </h3>
        <p class="mt-5 text-xl text-gray-700 dark:text-gray-300">Освящая нить, нами соблюдается каждая буква
            закона</p>
        <div class="w-full mt-10">
            <style>.embed-container {
                position: relative;
                padding-bottom: 56.25%;
                height: 0;
                overflow: hidden;
                max-width: 100%;
            }

            .embed-container iframe, .embed-container object, .embed-container embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }</style>
            <div class="embed-container bg-gray-100 dark:bg-gray-950 rounded-xl shadow-lg border border-1 border-gray-300 dark:border-gray-700">
                <iframe src="https://www.youtube.com/embed/5jMLcnLZgjE"
                        srcdoc="<style>*{padding:0;margin:0;overflow:hidden}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}</style><a href=https://www.youtube.com/embed/5jMLcnLZgjE?autoplay=1><img src=https://img.youtube.com/vi/5jMLcnLZgjE/maxresdefault.jpg><span>▶</span></a>"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen loading="lazy"></iframe>
            </div>
        </div>
        <p class="mt-5 text-sm lg:text-base text-gray-700 dark:text-gray-300">
            Иерусалим (Вифлеем). Гробница Рахели.</p>
    </div>
</div>